@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');
@import "tailwindcss";

.ff-luckiest{
  font-family: "Luckiest Guy", cursive;
}

.ff-schoolbell{
    font-family: "Schoolbell", cursive;
}

.hero-bg-image{
  background-image: url("/assets/images/png/hero-image.png");
}

.menu-bg{
  background-image: url("/assets/images/png/menu-bg.png");
}

.pizzaguy-bg-image {
  background-image: url("/assets/images/png/pizzaguy-bg.png");
}

.click-bg {
  background-image: url('/assets/images/webp/click-bg.webp') !important;
}

.room-bg {
  background-image: url('/assets/images/webp/living-room-tv.webp') !important;
}